{% extends "layout.html" %}

{% block title %}
Home Page
{% endblock %}





{% block content %}
{% load static %}
<div class="container">
 <div class="homecontainer">
    <div class="buttons">
        <button type="button" class="btn btn-primary">Generate Invoice</button>
        <a href="{% url 'addstock' %}" class="btn btn-primary">Stock</a>
        <a href="{% url 'addcustomer' %}" class="btn btn-primary">Add Customer</a>
        <button type="button" class="btn btn-primary">Reports</button>
    </div>
 </div>
      

</div>

{% endblock %}