{% extends "layout.html" %}

{% block title %}
Home Page
{% endblock %}





{% block content %}
{% load static %}
<div class="container">
 <div class="homecontainer">
    <div class="buttons">
        <a  href="{% url 'invoicegenerate' %}" class="btn btn-primary">Generate Invoice</a>
        <a href="{% url 'additem' %}" class="btn btn-primary">Stock</a>
        <a href="{% url 'addcustomer' %}" class="btn btn-primary">Add Customer</a>
        <a href="{% url 'report' %}" class="btn btn-primary">Reports</a>
    </div>
 </div>
      

</div>

{% endblock %}