{% extends "layout.html" %}

{% block title %}
Home Page
{% endblock %}


{% block content %}
{% load static %}
<div class="container mt-5">
 
  <a href="/additem/"  class="btn btn-primary float-end">add ITem</a>
  {% if customer %}
  <h2>{{ customer.customer_name }}'s Items</h2>
  <p>Customer Number: {{ customer.customer_number }}</p>
  {% endif %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Item</th>
        <th scope="col">Thickness</th>
        <th scope="col">Size</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      {% for  item in items %}
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.item_name}}</td>
        <td>{{item.thickness}}</td>
        <td>{{item.size}}</td>
        <td>{{item.rate}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>


  {% endblock %}