{% extends "layout.html" %}

{% block title %}
stock
{% endblock %}





{% block content %}
{% load static %}

<div class="stock">
    <div class="container">
      <div class="addtostcok">
        <h1 class="text-center">Add to Stock</h1>
        <form>
            <div class="mb-3">
                <label for="item" class="form-label">Item</label>
                <input type="text" class="form-control" id="item" name="item" placeholder="Enter Item" required>
            </div>
            <div class="mb-3">
                <label for="thickness" class="form-label">Thickness</label>
                <input type="text" class="form-control" id="thickness" name="thickness" placeholder="Enter Thickness" required>
            </div>
            <div class="mb-3">
                <label for="size" class="form-label">Size</label>
                <input type="text" class="form-control" id="size" name="size" placeholder="Enter Size" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

      <div class="availablestock mt-4">
        <h1 class="text-center hy">Show Available stock</h1>
        <form>
            <div class="mb-3">
                <label for="item" class="form-label">Item</label>
                <input type="text" class="form-control" id="item" name="item" placeholder="Enter Item" required>
            </div>
            <div class="mb-3">
                <label for="thickness" class="form-label">Thickness</label>
                <input type="text" class="form-control" id="thickness" name="thickness" placeholder="Enter Thickness" required>
            </div>
            <div class="mb-3">
                <label for="size" class="form-label">Size</label>
                <input type="text" class="form-control" id="size" name="size" placeholder="Enter Size" required>
            </div>
            <div class="mb-3">
                <label for="availableQty" class="form-label">Available Qty</label>
                <select class="form-select" id="availableQty" name="availableQty" required>
                    <option value="" disabled selected>Select Quantity</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
            <div class="mb-3">
                <label for="size" class="form-label">Damage</label>
                <input type="text" class="form-control" id="size" name="damagae" placeholder="" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

      <div class="itemaddbtn mt-3 mb-3">
        <a href="{% url 'additem' %}" class="btn btn-primary">Add Item</a>

      </div>
    </div>
</div>

{% endblock %}